// *****************************************************************
// LOADER
// *****************************************************************
.loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 9998;
	display: block; // none

	// TYPE
	text-align: center;
	color: $white;
	letter-spacing: 0.4em;
	font-weight: 300;

	.cover {
		width: 500%;
		height: 500%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1); // scale(0)
		fill: $midpurple;
	}

	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1; // 0
	}

	.triangle {
		$spnTriHt: 70px;

		width: $spnTriHt;
		height: $spnTriHt * 0.866;
		display: block;
		margin: 0 auto;
		position: relative;

		svg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transform-origin: 50% 57.6894%;
		}
		svg:nth-child(1) {
			fill: $thered;
			animation: spinner 1.4s infinite cubic-bezier(.52,.28,.68,.89);
		}

		svg:nth-child(2) {
			fill: $theblue;
			animation: spinner 1.4s infinite linear;
		}
	}

	.info {
		display: block;
		padding-top: 25px;
	}

	.error {

	}
}

