// *****************************************************************
// ADDITIONAL RESET
// *****************************************************************
:focus { 
	outline:0;
}
::selection {
	background: #000; /* Safari */
	color: $white;
}
::-moz-selection {
	background: #000; /* Firefox */
	color: $white;
}

.svg-defs {
	display: none;
}

html, body {
	height: 100%;
}

body {
	background: $white;
}

p {
	margin: 20px 10%;

	@include breakpoint(medium) {
		margin: 0 auto;
		margin-top: 25px;
		margin-bottom: 25px;
		width: 720px;
	}

	@include breakpoint(large) {
		width: 800px;
		margin-top: 35px;
		margin-bottom: 35px;
	}
}

h1 {
	z-index: 12;
	position: relative;

	&.main {
		padding: 30px 0;
		width: 100%;
		background: $white;
		color: $satpurple;
		margin-left: -0.15em;

		.word {
			position: relative;
			z-index: 2;
		}

		.icon {
			width: 100%;
			height: 70%;
			position: absolute;
			top: 15%;
			left: 0;
			z-index: 1;

			svg {
				fill: #f7f7f7;
				height: 100%;
				margin-left: 0.3em;
			}
		}
	}	
}


// *****************************************************************
// MAIN BLOCKS
// *****************************************************************
section {
	overflow: auto;
}

.block {
	position: relative;
	z-index: 10;
	background: $white;
	width: 100%;

	&.img-wrap {
		img {
			max-width: 80%;
			margin: 15px 0;

			@include breakpoint(medium) {
				width: 720px;
			}

			@include breakpoint(large) {
				width: 800px;
				display: block;
				margin: 0 auto;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}
}

.spaced {
	padding: 40px 0;
}
	
#ajax-content {
	overflow: auto;
}

.content {
	margin-top: $headerHeight;
}

.block {
	h1 {
		margin: 20px 0;
	}
}


// *****************************************************************
// FOOTER
// *****************************************************************
section.footer {
	width: 100%;
	background: $lightestgrey;
	position: relative;
	z-index: 10;

	footer {
		color: $lightestpurple;
		width: 80%;
		padding: 30px 10%;
	}
}
