// *****************************************************************
// VARS
// *****************************************************************

$dark1: #333; // background for sidebar-panel
$color1: #999; // background for sidebar
$highlight1: #CCC; // sidebar hover color
$lowlight1: #666; // sidebar dark 'hover'

$panel-bg: #CCC;
$panel-trans: rgba(255, 255, 255, 0.7);

$black: #000;
$white: #FFF;
