// *****************************************************************
// GLOBAL CONTENT
// *****************************************************************
#ajax-content {
	overflow: auto;
}

.content {
	margin-top: $headerHeight;

	h1 {
		padding: 30px 0;
		width: 100%;
		background: $white;
		color: $satpurple;
		position: relative;

		.word {
			position: relative;
			z-index: 2;
		}

		svg {
			width: 100%;
			height: 80%;
			position: absolute;
			top: 10%;
			left: 50%;
			z-index: 1;
			transform: translateX(-50%);
			fill: #f7f7f7;
			margin-left: 0.15em;
		}
	}
}


.block {
	position: relative;
	z-index: 10;
	background: $white;
	width: 100%;
	padding: 30px 0;

	h1 {
		padding-top: 10px;
		// color: $thered;
	}
}



// *****************************************************************
// HEROES
// *****************************************************************
.hero {
	width: 100%;
	height: 100%;
	display: block;
	background: #CCC;
	overflow: hidden;
	position: relative;
	z-index: 5;

	img {
		min-height: 100%;
		min-width: 100%;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.5;
		z-index: 0;	
	}

	svg {
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}

	.gradient {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0.6;
		background-image: linear-gradient(to top right, $thered 10%, $theblue 100%);
		filter: saturate(2);
	}
}




// *****************************************************************
// CONTACT
// *****************************************************************
.contact {
	.lead {
		color: $white;
		background: $newpurple;
	}

	svg {
		width: 80%;
	}
}

.social {
	$iconWidth: 80px;

	text-align: center;



	.icon {
		
		@include text-replacement();
		width: $iconWidth;
		height: $iconWidth * 0.866;
		// background: #CCC;
		display: inline-block;
		margin: 5px 12px;
		position: relative;
  
		&::before {
			content: '';
			width: 0; 
			height: 0;
			position: absolute;
			top: 0;
			left: 0;
			border-bottom: #{$iconWidth * 0.866} solid $thered;
			border-left: #{$iconWidth/2} solid transparent;
			border-right: #{$iconWidth/2} solid transparent;
		}
  

	}
	
}
