// *****************************************************************
// HEADER & LOGO
// *****************************************************************
section.header {
	width: 100%;
	height: $headerHeight;
	background: rgba(#FCFCFC, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;

	h1 {
		width: 22%;
		height: $headerHeight;
		display: block;
		position: absolute;
		top: 0;
		left: 40%;
		z-index: 2;
		
		// TYPE
		@include text-replacement();

		span {
			width: 100%;
			height: $headerHeight;
			position: absolute;
			top: 0;
			left: 0;
		}

		.icon {
			svg:nth-child(1) {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				fill: $cLogoBlue;
				transform: rotate(180deg);
			}

			svg:nth-child(2) {
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				fill: $cLogoRed;
				transform: scale(0.5);
				transform-origin: center bottom;
			}
		}

		.word {

		}
	}
}

// *****************************************************************
// MAIN NAV
// *****************************************************************
nav.main-nav {
	width: 100%;
	height: $headerHeight;
	position: relative;
	z-index: 1;

	ul {
		width: 100%;
		height: 100%;
	}

	li {
		width: 19.5%;
		height: 100%;
		float: left;
		display: block;
		position: relative;

		&:nth-child(2) {
			margin-right: 22%;
			// background: #CCC;
		}
	}

	a {
		width: 100%;
		height: 100%;
		display: block;
	}

	.icon {
		$iconWidth: 70%;
		$iconHeight: 35%;
		width:  $iconWidth;
		height: $iconHeight;
		display: block;
		position: absolute;
		top: 15%;
		left: (100 - $iconWidth) / 2;
	}

	.word {
		width: 100%;
		position: absolute;
		bottom: 15%;
		left: 0;
		// TYPE
		text-align: center;
		font-size: 0.6em;
		line-height: 1em;
		letter-spacing: 0.14em;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}
