// *****************************************************************
// ADDITIONAL RESET
// *****************************************************************
:focus { 
	outline:0;
}
::selection {
	background: #000; /* Safari */
	color: $white;
}
::-moz-selection {
	background: #000; /* Firefox */
	color: $white;
}


html, body {
	height: 100%;
}

body {
	background: $white;
}

.svg-defs {
	display: none;
}

section {
	overflow: auto;
}

// *****************************************************************
// FOOTER
// *****************************************************************
section.footer {
	width: 100%;
	background: $lightestgrey;
	position: relative;
	z-index: 10;

	footer {
		color: $lightestpurple;
		width: 80%;
		padding: 30px 10%;
	}
}
