// *****************************************************************
// ADDITIONAL RESET
// *****************************************************************
:focus { 
	outline:0;
}
::selection {
	background: #000; /* Safari */
	color: $white;
}
::-moz-selection {
	background: #000; /* Firefox */
	color: $white;
}


html, body {
	height: 100%;
}

.svg-defs {
	display: none;
}


// *****************************************************************
// NAV
// *****************************************************************
$headerHeight: 60px;

section.header {
	width: 100%;
	height: $headerHeight;
	background: $midpurple;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	h1 {
		width: 20%;
		height: $headerHeight;
		display: block;
		position: absolute;
		top: 0;
		left: 40%;

		span {
			width: 100%;
			height: $headerHeight;
			position: absolute;
			top: 0;
			left: 0;
		}

		.icon {
			svg:nth-child(1) {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				fill: rgba(0, 0, 0, 0.5);
				transform: rotate(180deg);
			}

			svg:nth-child(2) {
				width: 100%;
				height: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				fill: rgba(0, 0, 0, 0.5);
				transform: scale(0.5);
				transform-origin: center bottom;
			}
		}

		.word {

		}
	}
}

nav.main-nav {
	width: 100%;
	height: $headerHeight;
	position: relative;

	ul {
		width: 100%;
		height: 100%;
	}

	li {
		width: 20%;
		height: 100%;
		float: left;
		display: block;
		position: relative;

		&:nth-child(2) {
			margin-right: 20%;
		}
	}

	a {
		width: 100%;
		height: 100%;
		display: block;
	}

	.icon {
		$iconWidth: 70%;
		$iconHeight: 45%;
		width:  $iconWidth;
		height: $iconHeight;
		display: block;
		position: absolute;
		top: (100 - $iconHeight) / 2;
		left: (100 - $iconWidth) / 2;
	}

	.word {
		display: none;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}



// *****************************************************************
// HEROES
// *****************************************************************
.hero {
	width: 100%;
	// height done via js
	display: block;
	background: #CCC;
	overflow: hidden;
	position: relative;

	img {
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.5;
		z-index: 0;
		filter: blur(5px);
	}

	svg {
		width: 80%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		opacity: 0.7;
		transform: translate(-50%, -50%) rotate(180deg);
		
		// filter: blur(10px);
	}

	.gradient {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0.5;
		background-image: radial-gradient(circle farthest-corner at left bottom, #FFFFFF 0%, red 30%, #00A3EF 90%);
		filter: saturate(2);
	}
}

