:focus { 
	outline:0;
}
::selection {
	background: #000; /* Safari */
	color: $white;
}
::-moz-selection {
	background: #000; /* Firefox */
	color: $white;
}


html, body {
	height: 100%;
}

body {
	// background: #CCC;
}

.svg-defs {
	display: none;
}




// --------------------
// TEST OF THE TRIANGLE
// --------------------

// .line {
// 	width: 50%;
// 	height: 900px;
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	border-right: 1px solid #000;
// }

// .wrap {
// 	width: 300px;
// 	height: 300px;
// 	display: block;
// 	position: relative;
// 	perspective: 2000px;
// 	perspective-origin: 50% -200%;
// 	margin: 0 auto;
// 	margin-top: 100px;
// 	border: solid 1px #000;
// 	// transform: rotateX(180deg);
// }

// .wrap2 {
// 	margin-top: -300px;
// 	transform: scale(0.5);
// }

// .triangle {
// 	width: 100%;
// 	height: 100%;
// 	margin: 0;
// 	padding: 0;
// 	position: absolute;
// 	// transform: translateZ(300px);
// 	transform-origin: 50% 50% -87px;
// 	transform-style: preserve-3d;
// 	animation: spin 3s infinite linear;
  
// 	figure {
// 	    width: 100%;
// 	    height: 100%;
// 	    display: block;
// 	    position: absolute;
// 	    padding: 0;
// 	    margin: 0;
// 	    // opacity: 0.3;
// 	    // background: rgba(200, 200, 200, 0.3);
//     }

//     span {
//     	width: 100%;
//     	height: 100%;
// 	    display: block;
// 	    position: relative;
//     }

//     svg {
//     	margin-top: 40px;
//     }

//     .tri-1 {
//     	transform-origin: 300px 300px;
//     	transform: rotateX(19.5deg);
// 	    svg {
// 	    	fill: green;	
// 	    }
// 	}

// 	.tri-2 {
// 		transform-origin: 300px 300px;
// 	    transform: rotateY(-60deg) rotateX(-19.5deg);
// 	    svg {
// 	    	fill: blue;
// 	    }
// 	}

// 	.tri-3 {
// 		transform-origin: 0 300px;
// 	    transform: rotateY(60deg) rotateX(-19.5deg);
// 	    svg {
// 	    	fill: red;	
// 	    }
// 	}

// 	.tri-4 {
// 		z-index: 9999;
// 		transform-origin: 150px 150px;
// 	    transform: rotateX(-90deg) translateY(150px) translateZ(150px) ;
// 	    svg {
// 	    	margin-top: 0;
// 	    	fill: orange;	
// 	    }
// 	}


// }


// @keyframes spin {
// 	from { transform: rotateY(0); }
// 	to { transform: rotateY(360deg); }
// }


// // TRIANGLE TEST 2

// .wrap3 {
// 	width: 300px;
// 	height: 260px;
// 	display: block;
// 	position: relative;
// 	// perspective: 1000px;
// 	perspective-origin: 50% 50%;
// 	margin: 0 auto;
// 	margin-top: 100px;
// 	border: solid 1px #000;
// 	// transform: rotateX(180deg) scale(2);
// 	transform-style: preserve-3d;
// 	animation: spin 3s infinite linear;
  
// }

// .triangle2 {
// 	width: 100%;
// 	height: 100%;
// 	margin: 0;
// 	padding: 0;
// 	position: absolute;
// 	transform: translateZ(87px);
// 	transform-origin: 50% 50%;
// 	transform-style: preserve-3d;
// 	// animation: spin 3s infinite linear;
  
// 	figure {
// 	    width: 100%;
// 	    height: 100%;
// 	    display: block;
// 	    position: absolute;
// 	    padding: 0;
// 	    margin: 0;
// 	    // opacity: 0.3;
// 	    // background: rgba(200, 200, 200, 0.3);
//     }

//     span {
//     	width: 100%;
//     	height: 100%;
// 	    display: block;
// 	    position: relative;
//     }

//     .tri-1 {
//     	z-index: 9998;
//     	transform-origin: 300px 260px;
//     	transform: rotateX(19.5deg);
// 	    svg {
// 	    	fill: green;	
// 	    }
// 	}

// 	.tri-2 {
// 		z-index: 9998;
// 		transform-origin: 300px 260px;
// 	    transform: rotateY(-60deg) rotateX(-19.5deg);
// 	    svg {
// 	    	fill: blue;
// 	    }
// 	}

// 	.tri-3 {
// 		z-index: 9998;
// 		transform-origin: 0 260px;
// 	    transform: rotateY(60deg) rotateX(-19.5deg);
// 	    svg {
// 	    	fill: red;	
// 	    }
// 	}

// 	.tri-4 {
// 		z-index: 9999;
// 		transform-origin: 150px 130px;
// 	    transform: rotateX(-90deg) translateY(130px) translateZ(130px) ;
// 	    svg {
// 	    	fill: orange;	
// 	    }
// 	}


// }


