// *****************************************************************
// STACKS
// *****************************************************************
$font-stack-header: 'Roboto Condensed', sans-serif;
$font-stack-body: 'Bitter', serif;


// *****************************************************************
// BASIC
// *****************************************************************
body {

	font-family: $font-stack-body;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;

}

// *****************************************************************
// NAV
// *****************************************************************
.main-nav {
	font-family: $font-stack-header;
	font-weight: 300;
	font-size: 36px;
	line-height: 90px;
	letter-spacing: 3px;
	//text-align: center;
}

