// *****************************************************************
// STACKS
// *****************************************************************
$font-stack: 'Source Sans Pro', sans-serif;


// *****************************************************************
// BASIC
// *****************************************************************
body {

	font-family: $font-stack;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
}

.content {
	h1 {
		font-size: 3.2em;
		line-height: 1em;
		font-weight: 700;
		letter-spacing: 0.18em;
		text-align: center;
	}
}

// *****************************************************************
// NAV
// *****************************************************************
section.header {
	h1 {
		text-indent: -9999px;
	}
}


// *****************************************************************
// LOADER
// *****************************************************************
section.loader {
	text-align: center;
	color: $white;
	letter-spacing: 0.4em;
	font-weight: 300;
}
