// *****************************************************************
// MIXINS
// *****************************************************************
@mixin vendor-prefix($name, $argument...) {
	-webkit-#{$name}: $argument;
	-moz-#{$name}: $argument;
	-ms-#{$name}: $argument;
	-o-#{$name}: $argument;
	#{$name}: $argument;
}

@mixin prop-vendor-prefix($name, $argument...) {
	-webkit-#{$name}: -webkit-#{$argument};
	-moz-#{$name}: -moz-#{$argument};
	-ms-#{$name}: -ms-#{$argument};
	-o-#{$name}: -o-#{$argument};
	#{$name}: $argument;
}

@mixin keyframes($name){
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin fontface($name, $argument...) {
    font-family: '#{$name}';
    src: url('fonts/#{$argument}-webfont.eot');
    src: url('fonts/#{$argument}-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/#{$argument}-webfont.woff') format('woff'),
         url('fonts/#{$argument}-webfont.ttf') format('truetype'),
         url('fonts/#{$argument}-webfont.svg##{$name}') format('svg');
    font-weight: normal;
    font-style: normal;
}

// *****************************************************************
// KAYFRAMES
// *****************************************************************
// @include keyframes( spinner ){
// 	0%{
// 		@include vendor-prefix( transform, rotate(0deg) );
// 	}
// 	100%{
// 		@include vendor-prefix( transform, rotate(359deg) );
// 	}
// }
