// *****************************************************************
// WORK COLORS
// *****************************************************************

.slider-blur {
	background-color: orange;
}


// *****************************************************************
// IMAGE POSITIONS
// *****************************************************************

.koozac {
	.slider-img {
		li:nth-child(1) {
			img:nth-child(1) {
				top: 50px;
				left: 50%;
			}
		}
		li:nth-child(2) {
			img:nth-child(1) {
				top: 50px;
				left: 40%;
			}
			img:nth-child(2) {
				top: 80px;
				left: 70%;
			}
		}
	}
}
