// *****************************************************************
// COLOURS
// *****************************************************************
$midpurple: rgba(46, 48, 66, 1);
$thered: #E87A82;
$theblue: #188EB0;
$theyellow: #FFF4D8;
$newpurple: #5C5F80;
$darkpurple: #4A4D6E;
$satpurple: #7D5F99;

$black: #000;
$white: #FFF;

// NEW COLOURS
$lightestgrey: #E3E7E8;
$lightestpurple: #ACAFBF;


// COLOR VARS
$cNav: rgba($lightestgrey, 0.9);
$cLogoBlue: rgba($theblue, 0.7);
$cLogoRed: rgba($thered, 0.7);


// *****************************************************************
// SIZES
// *****************************************************************
$headerHeight: 60px;
$navWorkHeight: 80px;


// *****************************************************************
// FONTS
// *****************************************************************
@font-face {
	@include fontface('Frontage', frontage/frontage-outline-webfont);
}

$fontStackHeader: 'Frontage', sans-serif;
$fontStackBody: 'Source Sans Pro', sans-serif;


// *****************************************************************
// KEYFRAMES
// *****************************************************************
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
