// *****************************************************************
// CONTACT
// *****************************************************************
.contact {
	.block {
		margin: 30px 0;
	}

	.lead {
		margin: 0;
		padding: 30px 0;
		color: $white;
		background: $newpurple;
	}

	// svg {
	// 	width: 80%;
	// }
}
