// *****************************************************************
// CONTACT
// *****************************************************************
.contact {
	.lead {
		margin: 0;
		padding: 30px 0;
		color: $white;
		background: $newpurple;
	}
}
