// *****************************************************************
// HOME
// *****************************************************************
.home {
	.lead {
		background: $theblue;
	}

	header {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 5;
		transfrom: translate(-50%, -50%);

		.sub {
			margin-top: 20px;
		}
	}

	.block {
		h1 {
			margin: 40px 0;
		}
	}

	@include breakpoint(large) {
		.page-header {
			.icon-wrap {
				&::before, &::after {
					width: 27%;
				}
				&::before {
					left: 15%;
				}
				&::after {
					right: 15%;
				}
			}
		}
	}
}
