// *****************************************************************
// HOME
// *****************************************************************
.home {
	.hero {
		background: $white;
		z-index: 1;
		img {
			position: fixed;
			min-width: 0;
			min-height: 0;

			max-width: 70%;
			max-height: 70%;

		}

		.gradient {
			background: #3fdaeb;
			background-image: linear-gradient(to top right, $midpurple 0%, $theblue 100%);
		}
	}
	
	.lead {
		background: $theblue;
	}
	
	.feed {
		padding-top: 50px;

		h1 {
			margin-bottom: 60px;
		}
	}

	@include breakpoint(large) {
		.page-header {
			.icon-wrap {
				&::before, &::after {
					width: 27%;
				}
				&::before {
					left: 15%;
				}
				&::after {
					right: 15%;
				}
			}
		}
	}
}
