
// *****************************************************************
// KOOZAC
// *****************************************************************
#koozac {
	$color1: #fcc60a;
	$color2: #fe7726;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color1 10%, $color2 100%);
		// filter: saturate(3);
	}
	.palette {
		.color-1 {
			background: #FDF64B;
		}
		.color-2 {
			background: #FF683F;
		}
		.color-3 {
			background: #5AB889;
		}
		.color-4 {
			background: #34D92F;
		}
		.color-5 {
			background: #1DCDED;
		}
	}
	.img-wrap {
		li:nth-child(1) {
			background: #D37B32;
		}
		li:nth-child(3) {
			background: #DD690A;
		}
	}
}


// *****************************************************************
// COLOURFLOOD
// *****************************************************************
#colourflood {
	$color1: #E62262;
	$color2: #0C1B49;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, #7F1A57 30%, $white 100%);
		// filter: saturate(3);
	}
	.palette {
		.color-1 {
			background: $color1;
		}
		.color-2 {
			background: $color2;
		}
		.color-3 {
			background: #7F1A57;
		}
		.color-4 {
			background: #7F6C8C;
		}
	}
	.img-wrap {
		.curved {
			background: #7F1A57;
		}
		.full {
			background: $white;
		}
	}
}



// *****************************************************************
// LIPSUM
// *****************************************************************
#lipsum {
	$color1: #40B37F;
	$color2: #303B36;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color2 10%, $color1 100%);
	}
	.palette {
		.color-1 {
			background: $color1;
		}
		.color-2 {
			background: #297351;
		}
		.color-3 {
			background: #A0F4CE;
		}
	}
	.img-wrap {
		.curved {
			background: #2A4E40;
		}
	}
}



// *****************************************************************
// TIMER
// *****************************************************************
#timer {
	$color1: #00AFF2;
	$color2: #008ADC;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color2 10%, $color1 100%);
	}
	.palette {
		.color-1 {
			background: #0B77D1;
		}
		.color-2 {
			background: $color2;
		}
		.color-3 {
			background: #F79B34;
		}
	}
	.img-wrap {
		.curved {
			background: $color1;
		}
	}
}


// *****************************************************************
// HEROES & GENERALS
// *****************************************************************
#hng {
	$color1: #CDC195;
	$color2: #6D4C39;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color2 40%, $color1 100%);
		// filter: saturate(3);
	}
	.palette {
		.color-1 {
			background: #EAB339;
		}
		.color-2 {
			background: #534737;
		}
		.color-3 {
			background: #856348;
		}
		.color-4 {
			background: #6D4C39;
		}
		.color-5 {
			background: #CBB45C;
		}
	}
	.img-wrap {
		li:nth-child(1) {
			background: #534737;			
		}
		li:nth-child(4) {
			background: #6D4C39;			
		}
		li:nth-child(5) {
			background: #CDC195;			
		}
		.full {
			background: $white;
			padding: 30px 0;
		}
	}
}


// *****************************************************************
// CTM TRAVEL
// *****************************************************************
#ctm-travel {
	$color1: #1E488C;
	$color2: #4871D3;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color1 10%, $color2 100%);
		// filter: saturate(3);
	}
	.palette {
		.color-1 {
			background: $color1;
		}
		.color-2 {
			background: $color2;
		}
		.color-3 {
			background: #5DBD50;
		}
		.color-4 {
			background: #BBBBBB;
		}
	}
	.img-wrap {
		li:nth-child(1) {
			background: $color2;			
		}
		li:nth-child(3) {
			background: #108A00;			
		}
		.full {
			background: $white;
			min-width: 100%;
			margin-bottom: -10px;
			padding: 0;

			img {
				min-width: 100%;
				margin: 0;
				padding: 0;
			}
		}
	}
}


// *****************************************************************
// SWAS
// *****************************************************************
#swas {
	$color1: #A82A2B;
	$color2: #EE7A79;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color1 10%, $color2 100%);
		// filter: saturate(3);
	}
	.palette {
		.color-1 {
			background: $color1;
		}
		.color-2 {
			background: $color2;
		}
		.color-3 {
			background: #E64C41;
		}
	}
	.img-wrap {
		li:nth-child(1) {
			background: #DEDEDE;			
		}
		li:nth-child(3) {
			background: $color2;
		}
	}
}



// *****************************************************************
// SWAS
// *****************************************************************
#gbm {
	$color1: #071F28;
	$color2: #134968;
	p.headline {
		@include textgradient($color1, $color2);
	}
	.gradient {
		background: $color1;
		background-image: linear-gradient(to top right, $color1 10%, $color2 100%);
		// filter: saturate(3);
	}
	.palette {
		.color-1 {
			background: $color1;
		}
		.color-2 {
			background: $color2;
		}
		.color-3 {
			background: #256484;
		}
		.color-4 {
			background: #0C374C;
		}
	}
	.img-wrap {
		li:nth-child(2) {
			background: #134968;			
		}
		li:nth-child(3) {
			background: #C7DFEA;			
		}
	}
}

