// *****************************************************************
// WORK INDEX
// *****************************************************************
.work {
	.lead {
		background: $theblue;
		padding: 0;
	}

	.morework {
		padding-top: 20px;
	}

	.clients {
		background: $theblue;

		h1 {
			background: none;
		}
	}

	.block {
		h1 {
			margin-bottom: 40px;
		}
	}
}

.nav-work {
	li {
		cursor: pointer;
		width: 35%;
		height: $navWorkHeight;
		color: $black;
		display: inline-block;
		position: relative;
		transition: all 0.3s ease-out;

		&::before {
			content: '';
			width: 100%;
			height: 1px;
			display: block;
			background: $black;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: all 0.3s ease-out;
		}

		&.on {
			color: $thered;

			&::before {
				height: 6px;
				background: $thered;
			}
		}
	}

	li:nth-child(1) {
		margin-right: 5%;
	}
}


.rest {
	display: none;
}

.clients {
	h1 {
		color: $white;
	}
}

// CLIENTS
.clientlist {
	padding: 0 10%;
	position: relative;

	@include breakpoint(large) {
		padding: 0;
		width: 800px;
		margin: 0 auto;
	}

	li {
		display: inline-block;
		width: 40%;
		height: 40px;
		margin: 15px 2.5%;
		position: relative;

		@include breakpoint("min-width: 40em") {
			width: 25%;
		}
	}

	svg {
		max-height: 100%;
		max-width: 100%;
		fill: $midpurple;
	}
}
