// *****************************************************************
// WORK INDEX
// *****************************************************************
.work {
	.lead {
		background: $theblue;
		padding: 0;
	}

	.morework {
		padding-top: 20px;
	}

	.clients {
		background: $theblue;

		h1 {
			background: none;
		}
	}

	.block {
		h1 {
			margin-bottom: 40px;
		}
	}
}


.nav-work {
	background: $lightestgrey;

	li {
		cursor: pointer;
		height: $navWorkHeight;
		line-height: $navWorkHeight;
		display: inline-block;
		// float: left;
		padding: 0 15px;
		display: inline-block;
		position: relative;
		transition: all 0.3s ease-out;

		@include breakpoint("min-width: 40em") {
			padding: 0 25px;
		}

		&.on, &:hover {
			color: $white;
			background: $thered;
		}
	}
}

.rest {
	display: none;
}

.clients {
	h1 {
		color: $white;
	}
}

// CLIENTS
.clientlist {
	padding: 0 10%;
	position: relative;

	@include breakpoint(large) {
		padding: 0;
		width: 800px;
		margin: 0 auto;
	}

	li {
		display: inline-block;
		width: 40%;
		height: 40px;
		margin: 15px 2.5%;
		position: relative;

		@include breakpoint("min-width: 40em") {
			width: 25%;
		}
	}

	svg {
		max-height: 100%;
		max-width: 100%;
		fill: $midpurple;
	}
}
