// *****************************************************************
// META
// *****************************************************************
.meta {
	width: 80%;
	display: block;
	margin: 30px 10%;
	padding: 20px 0;
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
	position: relative;

	li {
		width: 100%;
		margin: 15px 0;
		overflow: hidden;

		// TYPE
		font-weight: 400;
		font-style: italic;
		line-height: 1.4em;

		.header {
			font-weight: 200;
			font-style: normal;
			letter-spacing: 0.2em;

		} 
	}

	@include breakpoint("min-width: 40em") {
		border: none;
		text-align: center;
		padding: 0;

		li {
			margin: 0;
		}

		.header {
			font-size: 1.2em;
			line-height: 1.6em;
		}
		
		&.double li {
			height: 65px;
			padding: 15px 3%;			
		}
		&.triple li {
			height: 100px;
			padding: 15px 3%;
		}
		&.two li {
			display: inline-block;
			width: 42%;
			border: solid 1px #000;

			&:nth-child(2) {
				margin: 0 0 0 2.5%;
			}
		}
		&.three li {
			display: inline-block;
			width: 24%;
			border: solid 1px #000;

			&:nth-child(2) {
				margin: 0 2.5%;
			}
		}
	}

	@include breakpoint(medium) {
		width: 720px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;

		&.triple li {
			height: 90px;
		}
		&.three li {
			width: 24.7%;
		}
	}
}
