// *****************************************************************
// META
// *****************************************************************
.meta {
	width: 100%;
	display: block;
	background: $midpurple;
	color: $white;
	text-align: center;
	position: relative;


	ul {
		

		li {
			padding: 20px 0;
			margin: 50px 0;
			text-align: left;
			display: inline-block;
		}

		&.double {
			li:nth-child(1) {
				padding-right: 40px;
				margin-right: 40px;
				border-right: solid 1px $white;
			}
		}

		&.triple {
			li:nth-child(2) {
				padding-left: 40px;
				padding-right: 40px;
				margin-left: 40px;
				margin-right: 40px;
				border-right: solid 1px $white;
				border-left: solid 1px $white;
			}
		}
	}

	a {
		text-decoration: none;
		color: $white;
		border-bottom: dotted 1px $white;
		transition: all 0.2s ease-out;

		&:hover {
			color: $thered;
			border-bottom: dotted 1px $thered;
		}
	}
}

.project {
	.headline {
		margin-top: 20px;
	}
}

.palette {
	width: 100%;
	height: 10px;
	display: block;
	position: relative;

	ul {
		width: 100%;
		height: 100%;
		display: block;
	}

	li {
		float: left;
		height: 100%;
		display: block;
	}

	&.three-colors {
		li {
			width: 33.3333333333333%;
		}
	}
	&.four-colors {
		li {
			width: 25%;
		}
	}
	&.five-colors {
		li {
			width: 20%;
		}
	}
}

.img-wrap {
	

	ul {
		width: 100%;

		li {
			width: 100%;
			display: block;
			background: #999;
			padding: 100px 0;
			clear: both;

			img {
				box-shadow: 0 10px 20px rgba($black, 0.2);
			}

			&.curved {
				img {
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}
				
			}

			&.full {
				padding: 0;
				
				img {
					box-shadow: none;
					width: 100%;
				}
			}

			&.double {
				padding: 0;

				img {
					width: 50%;
					float: left;
					box-shadow: none;
				}
			}
			&.triple {
				padding: 0;

				img {
					width: 33.3333333333333333%;
					float: left;
					box-shadow: none;
				}
			}
		}
	}

	img {
		max-width: 80%;
	}
}


.back-to-work {
	width: 100%;
	display: block;
	background: $white;
	text-align: center;

	a {
		text-decoration: none;
		font-size: 1.4em;
		line-height: 1.6em;
		letter-spacing: 0.2em;
		color: $thered;
		display: block;
		padding: 50px 0;
		transition: all 0.3s ease-out;

		&:hover {
			background: $thered;
			color: $white;
		}
	}
}






