// *****************************************************************
// SOCIAL
// *****************************************************************
.social {
	$iconWidth: 80px;

	@include breakpoint(large) {
		$iconWidth: 120px;
	}

	text-align: center;
	// padding-bottom: 40px;
	width: 100%;
	display: block;
	height: $iconWidth;
	background: $lightestgrey;
	overflow: hidden;
	position: relative;
	z-index: 5;

	.icon {

		width: $iconWidth;
		height: $iconWidth; // * 0.866;
		display: inline-block;
		margin: 0;
		padding: 0;
		// margin: 5px 8px;
		position: relative;
		// border: solid 3px $thered;

		transition: all 0.3s ease-in-out;
	}

	a {
		width: 100%;
		height: 100%;
		display: block;
	}

	.word {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		color: $thered;
		transition: all 0.2s ease-in-out;

		@include breakpoint(large) {
			bottom: 15%;
		}
	}

	svg {
		width: 40%;
		height: 40%;
		position: absolute;
		top: 20%;
		left: 30%;
		fill: $thered;
	}

	// HOVERS
	.icon:hover {
		background: $thered;

		svg {
			fill: $white;
		}

		.word {
			color: $white;
			bottom: 10%;

			@include breakpoint(large) {
				bottom: 20%;
			}
		}
	}
}

// EMAIL & PHONE
.noicon {
	width: 100%;
	padding: 0 0 20px 0;
	color: $thered;

	&:nth-child(1) {
		padding-right: 40px;
	}
}

